.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.RData
/sdms
/old
/.Rproj.user
landis_analysis/landis_predictor_layers/predictor_stack_bcr28_train.tif
landis_analysis/landis_predictor_layers/initial landscape layers/community-input-file-0.csv
landis_analysis/reference/initial landscape layers/community-input-file-0.csv

landis_analysis/landis_predictor_layers/old/predictor_stack_bcr28_train.tif.bak
